body {
  font-family: serif;
  text-align: center;
  margin-top: 0px;
}

.page {
    min-height: 100vh;
    background-color: #eee;
    display: flex;
    justify-content: center;
}

.paper{
    width: 100%;
    max-width: 420px;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
}

@media (max-width: 600px) {
    .paper {
        width: 100%;
        padding: 16px;
    }
}

#result {
  margin-top: 20px;
  font-size: 50px;
  font-weight: bold;
  color: red;
}

#text {
  font-size: 20px;
  margin-top: 20px;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 50px;
}

.vertical {
  writing-mode: vertical-rl;
  display: flex;
  justify-content: center;
  text-orientation: upright;
  align-items: center;
  text-align: left;
  font-size: 18px;
  margin: 20px auto;
}

@media (max-width: 600px) {
  .vertical {
    font-size: 16px;
    margin: 10px auto;
  }
}






